@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.btn .badge {
    position: absolute !important;
    top: -5px !important;
    left: 5px;
}

.scroll-card {
    position: sticky;
    top: 100px;
    right: 2.5rem;
    transition: all .3s ease;
    transform: translateY(0%);
}

.playing {
    transition: all 2s ease-in-out;
}

.custom-checkbox {
    border: 1px solid var(--primary);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.scrollable-div {
    width: 200px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #000;
}

.checkbox {
    border: 1px solid grey;
}

.radio {
    border: 1px solid grey;
}

.carousel-dot-active {
    border: 1px solid lightgray;
    background-color: white;
    scale: 1.25;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.carousel-dot-not-active {
    border: 1px solid rgba(211, 211, 211, 0.9);
    background-color: transparent;
    scale: 1.25;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.carousel-dot-not-active:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.border-nav {
    border-top: 2px solid #ecfdf5;
    /*border-bottom:  2px solid black;*/
}

.plus-minus {
    border: 1px solid lightgray;
    padding: 3px;
}

.scroll-price {
    border: 1px solid lightgreen;
}

#left-content {
    flex-grow: 1;
}

#right-sidebar {
    width: 20%;
    flex-shrink: 0;
    flex-basis: 20%;
    min-width: 250px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.uniform-height {
    height: 3rem;
}

.drop-links {
    width: 100%;
}

.dropdown ul {
    height: auto;
}

.column-divider > div:nth-child(n+2)::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -8px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
}

.grid.grid-cols-6 > div {
    position: relative;
}

.btn-scroll {
    border: none;
    box-shadow: 0 0 8px 2px rgba(128, 128, 128, 0.3);
}

.order-button {
    position: fixed;
    top: 250px;
    right: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    margin-left: 0 !important;
    padding-left: 0 !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 998;
}

@media screen and (max-width: 1366px) {
    .hide-on-small-screen {
        display: none;
    }
}

.filterBtn {
    border: 1px solid lightgray;
}

.pag-links li {
    display: inline-block;
}

@media only screen and (max-width: 640px) {
    .prod_cards.grid.grid-cols-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 0;
        padding: 0;
        gap: 0.5rem;
        margin-bottom: 20px;
    }
}

@media (max-width: 640px) {
    .btn-add {
        display: block !important;
    }
}

@media (max-width: 640px) {
    .navbar-top {
        margin: 0;
        padding: 0;
        display: flex;
    }
    .nav-logo{
        margin: 10px;
            img {
                width: 6rem;
            }
    }

    .nav-head {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .nav-head-links {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        gap: 0;
        width: max-content;
        min-width: 100%;
    }

    .nav-link {
        padding-left: 0.5rem;
        font-size: 1rem;
        min-width: max-content;
    }

    .nav-end {
        display: flex;
        padding: 0;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .nav-search {
        width: 60%;
        min-width: 120px;
        margin-right: 0;
        margin-left: 0.5rem;
        margin-bottom: 10px;
    }

    .nav-cart {
        margin-left: auto;
        margin-right: 1rem;
    }

    .nav-sum {
        display: none;
    }

    .navbar-info {
        margin: 0;
        padding-right: 0;
        padding-left: 0;
        div {
            padding-left: 0.5rem;
        }
    }
}
@media (max-width: 640px) {
    .prod-one {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }
    .prod-one .carousel-dots{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
    }
    .prod-one-block{
        display:  flex;
        flex-direction: column;
        justify-content: center;
    }
    .prod-one-size {
        div {
            display: flex;
            flex-direction: row;
        }
        > div {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 8px;
        }
        > span {
            white-space: nowrap;
        }
        span {
            display: grid;
            grid-template-rows: 4fr;
        }
    }
}
@media (max-width: 640px) {
    .dropdown ul {
        width: 200px;
    }

    .dropdown div {
        display: flex;
        flex-direction: column;
    }
    .column-divider > div:nth-child(n+2)::before {
        display: none;
    }
}
@media (max-width: 640px) {
    .main-container, .container-carousel, .main-carousel {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100vw !important;
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .main-container .container-carousel .carousel-dots{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
    }

    .main-container {
        margin: 0;
        padding: 0;
    }

    .main-carousel {
        width: 100%;

    }

    .container-carousel {
        width: 100%;
        overflow: hidden;
    }

    .h-\[80vh\] {
        height: 30vh !important;
        min-height: 300px;
    }

    .imageClassName {
        object-fit: contain !important;
        width: 100% !important;
        height: 100% !important;
    }

    .main-links {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .main-subscribe {
        display: flex;
        margin: 0;
        padding: 12px;
        padding-bottom: 24px;
        flex-direction: column;
        align-items: center;

        div {
            font-size: 12px;
        }
        .input-and-button{
            margin-top: 6px;
        }

    }

    .main-sub-block {
        margin: 0;
        height: auto;
        align-items: center;
        justify-content: center;
        input {
            width: auto;
            height: auto;
            border-radius: 3px;
        }

        button {
            width: auto;
            height: 1.5rem;
            border-radius: 3px;
        }
    }
}
@media (max-width: 640px) {
    .card-nav{
        display: flex;
        margin: 0;
        padding: 0;
        width: 12rem;
        top: 50px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        z-index: 15;
        svg {
            width: 2rem;
            height: 2rem;
        }
        div {
            font-size: 14px;
        }
        .card-cart-prods div{
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        .prods-list-card div{
            display: flex;
            flex-direction: column;
            gap: 0;
            margin: 0;
            padding: 0;
        }
        .prods-list-block div,span{
            display: flex;
            flex-direction: row;
            text-align: center;
        }
    }
}
@media (max-width: 640px) {
    .search-block {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        padding: 1.5rem;
        .card-shadow{
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

        }
    }
    .search-not-found{
        display: flex;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .prod-card{
        position: relative;
    }
    .button-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.5rem;
        opacity: 0;
        transform: translateY(10px);
        transition: all 0.2s ease-in-out;
    }
    .prod-card:hover .button-container, .button-container.visible {
        opacity: 1;
        transform: translateY(0);
    }
    .add-to-cart-btn {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        color: #333;
        font-size:  1rem;
        border: 1px solid #e5e7eb;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        transition: all 0.2s ease-in-out;
        padding: 0.5rem 1rem;
        border-radius: 0.375rem;
        font-weight: 500;
    }
    .add-to-cart-btn:hover {
        background-color: rgba(255, 255, 255, 0.3);
        border-color: rgba(255, 255, 255, 0.3);
        transform: scale(1.02);
    }
}

@media (max-width: 640px) {
    .button-container {
        display: flex;
        justify-content: center;
        opacity: 1;
        transform: translateY(10px);
    }
    .add-to-cart-btn {
        background-color: rgba(255, 255, 255, 0.8);
        color: #333;
        font-size:  1rem;
        border: 1px solid #e5e7eb;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        transition: all 0.2s ease-in-out;
        padding: 0.5rem 1rem;
        border-radius: 0.375rem;
        font-weight: 500;
        margin: 0;
    }
    .card-image-block {
        width:  100%;
        padding: 0;
        margin: 0;
    }
    .card-image-block img,
    .card-image-block .carousel-container,
    .card-image-block .carousel-slide {
        width: 100% !important;
        height: auto;
        object-fit: cover;
    }
    .prod-heart{
        top: -15px;
        right: 22px;
    }
    .carousel-with-dots{
        height: 220px;
    }
    .carousel-dots{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 200px;
    }
}
@media (max-width: 640px) {
    .filter-icon{
        width: 30px;
        padding-left: 0;
    }
    .filter-block{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        gap: 5px;
        padding-left: 1rem;
            div {
                font-size: 12px;
                margin: 0;
            }
        button {
            width: 80%;
            padding: 0;
        }
    }
    .drawer-block {
        width:  70%;
    }
    .filter-not-found{
        text-align: center;
    }
}
@media (max-width: 640px) {
    .cart-main{
        padding: 0;
    }
    .cart-list-all{
        display: flex;
        justify-content: center;
    }
    .cart-prod-info{
        width: max-content;
        padding: 1rem;
    }
    .cart-plus-minus{
        display: flex;
        width: 80%;
        align-items:  center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .cart-plus-minus .join-item {
        padding: 0;
        margin: 0;
        min-width: 25px;
        height: 25px;
    }

    .cart-plus-minus .join-item svg {
        width: 16px;
        height: 16px;
    }
}
@media (min-width: 1024px) {
    .cart-main{
        width: 1400px;
    }
}
@media (max-width: 640px) {
    .modal-box {
        margin: 0 16px;
        width: 100%;
        border-radius: 1rem;
    }

    .modal {
        display: flex;
        width: auto;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}
@media (max-width: 640px) {
    .dropdown-auth{
        width:  100%;
        padding: 1rem;
        top: 35px;
            hr {
                display: none;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            svg {
               /*display: none;*/
            }
        .dropdown-btn-auth{
            width: 100%;
        }
    }
}
@media (max-width: 640px) {
    .auth {
        margin-top: 0;
    }
    .auth-block {
        display: flex;
        flex-direction: column;
    }
    .forgot-password{
        display: flex;
        flex-direction: column;
        align-items: center;
            input,button {
                width: 100%;
            }
    }
}
@media (max-width: 640px) {
    .navbar-end-auth .auth-label{
        display:  none;
    }
    .navbar-end-auth{
        margin: 0;
        padding: 0;
    }
    .navbar-end-auth .dropdown-end .btn-circle {
        display: flex;
        margin-right: 10px;
    }
}

@media (max-width: 640px) {
    .dropdown-account {
        width: auto;
        top: 50px;
        margin-right: -10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
    .account-navbar{
        width: auto;
            a {
                font-size: 12px;
            }
    }
    .account-main{
        font-size: 12px;
    }
    .account-main-links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
            svg {
                width: 50%;

            }
            div {
                height: auto;
            }
    }
    .account-main-info{
        width: 220px;
    }
    .account-main-orders{
        width: 220px;

    }
    .account-main-orders .orders-pag {
        width: 250px;
        overflow: hidden;
    }
    .pagination-text{
        font-size: 12px;
    }
    .pagination-button {
        padding: 0.5rem;
    }
    .account-main-addresses{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .account-main-address-form{
        width: 240px;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        margin-bottom:  0.5rem;
        padding-bottom: 0;
        padding-top: 0;
            input {
                width: auto;
            }
    }
    .addresses{
        display: flex;
        flex-direction: column;

    }
    .addresses .close-btn {
        position: absolute;
        right: 0px;
        font-weight: normal;
        font-size: 1rem;
        color: grey;
    }
    .account-main-wish-prods{
        display: flex;
        flex-direction: column;
    }
    .wish-prod div {
        margin: 0;
        padding: 0;
    }
    .wish-prod .wish-price {
        margin: 0;
    }
    .wish-prod button {
        margin-bottom: 10px;
    }
    .wish-prod img {
        width: 150px;
        height: auto;
        padding: 0;
        background-color: chartreuse;
    }
    .main-orders-not-exist {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
    }
}
@media (min-width: 1024px) {
    .dropdown-account {
        top: 70px;
        margin-right: -15px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 640px) {
    .prod-heart{
        opacity: 1;
    }
}
@media (min-width: 1024px) {
    .preorder-block{
        width: 500px;
    }
}
